<div class="sizer">
    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Simuu Worlds is an interactive simulation of basic human needs and interactions. This project was created in order to explore a more basic approach to AI and human processes. Though this project is currently in it's infancy we hope you watch us grow and enjoy the ride of many lifetimes!</p>
</div>