<div class="sizer">
    @{
        ViewBag.Title = "Home Page";
    }

    <div>
        <h1>Simuu Worlds</h1>
        <p class="lead">'Simuu Worlds' is an interactive simulation of human needs and interactions. Watch your 'Simuus' walk around as their needs grow, then see how they interact with other Simuus and the environment! Be careful though! Simuus can and will die if their hunger, thirst or energy reach zero.</p>
        <p><a href="~/Home/About" class="btn btn-primary btn-lg">More about us...</a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>New to Simuus?</h2>
            <p>
                Create an account and get instant access to the simulation! Watch the Simuus move and interact and most importantly, have fun!
            </p>
            <p><a class="btn btn-default" href="~/Home/Register">Register &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Already have an account?</h2>
            <p>Login now and you can track the Simuus you or others have made. We know you've missed them!</p>
            <p><a class="btn btn-default" href="~/Home/Login">Login &raquo;</a></p>
        </div>
    </div>
</div>